apiVersion: phylake.syncier.cloud/v1alpha2
kind: Policy
metadata:
  name: ImageAllowlist
spec:
  description: |-
    Enforces that every container image is on a defined allowlist.
  enforcementType: opa-gatekeeper
  kind:
    - security
    - Images
  example: |
    apiVersion: v1
    kind: Namespace
    metadata:
      name: ns-with-allowlist
      annotations:
        phylake.io/imageallowlist.trustedregistries: "private.registry.com"
        phylake.io/imageallowlist.trustedimages: >-
          fluent/fluent-bit
          quay.io/fluentd_elasticsearch/fluentd
    ...
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: test-deployment
      namespace: ns-with-allowlist
    spec:
      selector:
        matchLabels:
          app: test-deployment
      template:
        metadata:
          labels:
            app: test-deployment
        spec:
          containers:
            - name: nginx
    -         image: nginx:1.14.2
    +         image: private.registry.com/nginx:1.14.2
  # The following file references are overwritten by the generator script
  ruleFiles: [constraint-templates/imageallowlist-template.yaml, constraints/imageallowlist-constraint.yaml, rules/imageallowlist.rego]
  riskAcceptance:
    annotationName: phylake.io/policy.exclusion.imageallowlist
    example: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: your-deployment
        annotations:
          phylake.io/policy.exclusion.imageallowlist: |-
            The external repository is used because of ... provide your reasoning here.
      ...
